# Base URLs for backend services
VITE_AUTH_BASE_URL=http://localhost:8081
VITE_THERAPIST_BASE_URL=http://localhost:8082
VITE_SOCIAL_BASE_URL=http://localhost:8083
VITE_NOTIFICATION_BASE_URL=http://localhost:8084
VITE_TRACKING_BASE_URL=http://localhost:8085
